audio::-webkit-media-controls-panel {
    background-color: red;
    border-radius: 20px;
}
audio::-webkit-media-controls-play-button {
    background-color: red;
}
audio::-webkit-media-controls-timeline {
    background-color: white;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 5px;
}

.audio-player {
    color: red;
    width: 100%;
}