.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: black;
    position: fixed;
}

/*

      // <div className="header" onClick={e => console.log("map2[pageCount]")}>
      //     <Button>Home</Button>
      //     <Button className="back-btn" onClick={handleBackButton} disabled={pageCount < 1}>{"<"}</Button>
      //     <Button className="next-btn" onClick={handleNextButton} disabled={pageCount > 13}>{">"}</Button>
      // </div>

//       <Slide url={"images/image_" + pageCount + ".png"} keywords={keywords} map={slideMap}  />

      // <div className="audio-footer">
//         <Audio url="audiofile.mp3" start={start} end={end}/>
//       </div>
*/
