.Keyword-List {
    display: block;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    min-height: 80%;
}

.Keyword-List > h1 {
    text-decoration: underline;
}

.words {
    font-size: 30px;
}


.keyword {
    /* background-color: red;
    border-radius: 20%;
    margin-left: 3px;
    margin-bottom: 5px;
    color: black;
    font-weight: 700; */
    

    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgb(17, 98, 190);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 2px;
}