.current-slide {
    position: fixed; 
    top: 10%;
    left: 2%;
}
.slide-and-keywords {
    display: flex;
}

.vl {
    border-left: 100px solid red;
    height: 84.5%;
    position: absolute;
    left: 73.5%;
    top: 8%;
    bottom: 0px;
}

.Keyword-List {
    top: 10%;
    right: 2%;
    position: absolute;
    width: 30%;
}

